@use './styles/colors';

.app {
  position: relative;
  background-color: colors.$color-yellow;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  .attribution {
    position: absolute;
    bottom: 2rem;
    text-align: center;
    padding: 0 2.4rem;
  }
}
